/* HEADER STYLING */

.top-header {
  height: 400px;
  width: 400px;
  background-color: #e05a00;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2em;
  margin-top: 4em;
}

/* Responsive Styling Below */
@media screen and (max-width: 1000px) {
  .top-header {
    width: 100%;
    margin: 0;
  }
}

.avatar {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;
  color: #FFFF;
}

.last-name {
  font-weight: 300;
}