/* HEADER STYLING */

/* Base styling for the main header of the page below the nav, with background and textures */

.top-header {
  height: 400px;
  width: 400px;
  background-color: #778899;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2em;
  margin-top: 4em;
  border: 5px solid;
  border-color: black;
}

/* Give header on desktop box shadow */

.top-header:hover {
  box-shadow: 5px 5px #aa9c87;
}

/* .top-header:hover name {
  text-shadow: 0px 0px 1px #FFFF;
} */

/* make last name brighter on hover */

.top-header:hover .last-name {
  text-shadow: 0px 0px 1px #FFFF;
}

/* Responsive Styling Below for the main header*/

@media only screen and (max-width: 1024px) {
  .top-header {
    width: 100%;
    margin: 0;
    border: 0;
  }
}

/* remove box shadow when in smaller windows */

@media only screen and (max-width: 1024px) {
  .top-header:hover {
    box-shadow: 0px 0px transparent;
  }
}

/* styling for the avatar image */

.avatar {
  display: flex;
  justify-content: center;
}

/* styling for the name below the avatar image */

.name {
  display: flex;
  justify-content: center;
  color: #FFFF;
}

/* styling to make the last name un-bolded as the font in h2's are bold */

.last-name {
  font-weight: 300;
}