/* NAV STYLING */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: linear-gradient(#8c99c6, #4056A1);
  color: #FFFF;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  padding: 1.5em;
  font-family: "Bungee", cursive;
}

nav .write-new {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  padding-top: 2em;
  align-items: center;
  cursor: pointer;
}

nav div p {
  margin: 0;
}

@keyframes chevron {
  0%, 100% {
    transform: translateY(-2px)
  } 50% {
    transform: translateY(6px)
  }
}

.fa-angle-double-down {
  color: #e05a00;
  animation: chevron 1.5s ease-in-out infinite;

}
