/* NEW TWEET STYLING */

.new-tweet {
  margin: 0 auto;
  width: 80%;
}

#submit-form {
  display: flex;
  flex-direction: column;
}

#submit-form label {
  margin-bottom: 1em;
}

textarea {
  background: transparent;
  border: 0;
  border-bottom: 5px solid;
  border-bottom-color: #545149;
  resize: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #4056A1;
}

.submitTweet {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

.submitTweet button {
  font-family: "Bungee", cursive;
  background-color: #4056A1;
  border-width: 0;
  color: #FFFF;
  outline-color: #8c99c6;
  cursor: pointer;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin: 0 auto;
  border: 3px solid;
  border-color: #ff0033;
  color: #ff0033;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 80%;
}

.submitTweet button:hover {
  box-shadow: 5px 5px #8c99c6;
}

output {
  font-family: "Bungee", cursive;
}

label {
  font-weight: 700;
}

.red {
  color: red;
}