/* NEW TWEET STYLING */

/* styling for new tweet container */

.new-tweet {
  margin: 0 auto;
  width: 80%;
}

/* styling for form spacing */

#submit-form {
  display: flex;
  flex-direction: column;
}

/* spacing for around the form and the label above "tweet all about it" */

#submit-form label {
  margin-bottom: 1em;
}

/* styling - font weight for "tweet all about it" */

label {
  font-weight: 700;
}

/* styling for textarea (message/tweet input) */

textarea {
  background: transparent;
  border: 0;
  border-bottom: 5px solid;
  border-bottom-color: #545149;
  resize: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #545149;
}

/* styling for submit tweet and character counter container */

.submitTweet {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* styling for submit tweet button */

.submitTweet button {
  font-family: "Bungee", cursive;
  background-color: #ac1e07;
  border-width: 0;
  color: #FFFF;
  outline-color: #891805;
  cursor: pointer;
}

/* styling for error message box (tweet too short/long) */

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin: 0 auto;
  border: 3px solid;
  border-color: #b4341f;
  color: #b4341f;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 80%;
}

/* styling for character counter font */

output {
  font-family: "Bungee", cursive;
}

/* class to be applied to character counter when going over 140 characters */

.red {
  color: #b4341f;
}

/* Hover Effects -  */

/* hover effect for submit tweet button */

.submitTweet button:hover {
  box-shadow: 5px 5px #aa9c87;
}