/* TWEET CONTAINER LAYOUT */

article {
  display: flex;
  flex-direction: column;
  border: 5px solid;
  margin-top: 1em;
  margin-bottom: 2em;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-and-name {
  display: flex;
  align-items: center;
  padding: 2em;
  padding-left: 3em;
}

.avatar-and-name img {
  padding-right: 1em;
}

.username {
  padding: 2em;
  padding-right: 3em;
  color: transparent;
  font-weight: 700;
}

.message {
  display: flex;
  font-weight: 600;
  margin: 0 auto;
  width: 96%;
  border-bottom: 4px solid;
  word-break: break-word;
}

.message p {
  padding-left: 1em;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
}

.date {
  padding: 2em;
  padding-left: 3em;
}

.likes {
  padding: 2em;
  padding-right: 3em;
  color: #8c99c6;
  cursor: pointer;
}

#tweets {
  padding: 3em;
}

/* BELOW ARE ALL THE ON HOVER EFFECTS */
.tweet:hover {
  background-color: #f6e8d3;
  background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");
  box-shadow: 10px 10px #aa9c87;
}

.tweet:hover .avatar-and-name {
  text-shadow:0px 0px 1px #545149;
}

.tweet:hover .username {
  color: #8c99c6;
}

.tweet:hover .message {
  text-shadow:0px 0px 1px #545149;
}

.tweet:hover .date {
  text-shadow:0px 0px 1px #545149;
}

.tweet:hover .likes {
  color: #394d90;
}
